#!/bin/bash
# brewfile hash: {{ "~/.config/homebrew/brewfile" | sha256sum }}
# This script runs when the Homebrew package list changes

BREWFILE="$HOME/.config/homebrew/brewfile"

# Verify that Homebrew is installed
if ! command -v brew &>/dev/null; then
  echo -e "\033[34mHomebrew is not installed. Installing Homebrew...\033[0m"
  if command -v chezmoi &>/dev/null; then
    chezmoi execute-template -f "{{ .chezmoi.sourceDir -}}/run_onchange_after_03-install-homebrew-bundle.sh.tmpl"
  fi
fi

# Check if the Brewfile exists
if [ ! -f "$BREWFILE" ]; then
  echo -e "\033[31m$BREWFILE not found. Add the Brewfile to your configuration.\033[0m"
  exit 1
fi

# Check if the Brewfile is empty
if [ ! -s "$BREWFILE" ]; then
  echo -e "\033[31m$BREWFILE is empty. Please add your Homebrew packages.\033[0m"
  exit 1
fi

# Update Homebrew
brew update

# Install packages based on the Brewfile bundle
brew bundle --file "$BREWFILE"

# Clean up based on the Brewfile bundle
brew bundle cleanup --file "$BREWFILE" --force

# Clean up Homebrew
brew cleanup

# Restart any installed services that are required
# Manually adding services here until I can find a better way
brew services restart borders

echo -e "\033[32mHomebrew packages installation and cleanup completed successfully.\033[0m"
