#!/bin/zsh
# This script runs when the Homebrew package list changes

# Update Homebrew
echo "Updating Homebrew..."
brew update

# Install packages based on the Brewfile bundle
echo "Installing Homebrew packages from Brewfile..."
brew bundle --file "~/.config/homebrew/brewfile"

# Clean up based on the Brewfile bundle
echo "Removing unmanaged Homebrew packages..."
brew bundle cleanup --file "~/.config/homebrew/brewfile" --force

# Clean up Homebrew
echo "Cleaning up Homebrew..."
brew cleanup

echo "Homebrew packages installation and cleanup completed successfully."
