# Navigational aliases
alias -g ...="../.."
alias -g ....="../../.."
alias -g .....="../../../.."
alias -g ......="../../../../.."
alias cd="z"

# File management aliases
alias cp="cp -iv"
alias md="mkdir -p"
alias mkdir="mkdir -p"
alias mv="mv -iv"
alias rd="rmdir"
alias rm="trash"
alias rmdir="trash"

alias eza="eza --icons=always --color=always --git --group-directories-first --header --hyperlink"
alias la="eza -a"
alias ll="eza -l"
alias lla="eza -la"
alias ls="eza -l"
alias lsa="eza -la"
alias lst="eza --tree --level 3"
alias lt="eza --tree"

# Application override aliases
alias bat="bat --color=always --italic-text=always --decorations=always"
alias egrep="egrep --color=always"
alias fd="fd --hidden"
alias fgrep="fgrep --color=always"
alias ghc="gh copilot "
alias ghcc="gh copilot config "
alias ghce="gh copilot explain "
alias ghcs="gh copilot suggest "
alias grep="grep --color=always"
alias ip="ip -c"
alias less="less -FX"
alias wget="wget --hsts-file=\"${XDG_CONFIG_HOME}/wget/wget-hsts\""
alias y="yadm"

# Convenience aliases for common mis-typed commands and shortcuts
alias cls="clear"
alias code.="{{ .defaultVisualEditor }} ."
alias neofetch="fastfetch"
alias zshenv="source ${HOME}/.zshenv"
alias zshrc="source ${ZDOTDIR}/.zshrc"
alias reload="exec ${SHELL} -l"

# Configuration file aliases for common settings
alias aerospaceconfig="chezmoi edit \"${XDG_CONFIG_HOME}/aerospace/aerospace.toml\""
alias aliasconfig="chezmoi edit \"${XDG_CONFIG_HOME}/env/aliases\""
alias bordersconfig="chezmoi edit \"${XDG_CONFIG_HOME}/borders/bordersrc\""
alias brewconfig="chezmoi edit \"${HOME}/.local/share/chezmoi/.chezmoi.toml\""
alias codeconfig="chezmoi edit \"${HOME}/Library/Application Support/Code/User/settings.json\""
alias dprintconfig="chezmoi edit \"${XDG_CONFIG_HOME}/dprint/dprint.json\""
alias envconfig="chezmoi edit \"${HOME}/.zshenv\""
alias fastfetchconfig="chezmoi edit \"${XDG_CONFIG_HOME}/fastfetch/config.jsonc\""
alias ghosttyconfig="chezmoi edit \"${XDG_CONFIG_HOME}/ghostty/config\""
alias gitconfig="chezmoi edit \"${XDG_CONFIG_HOME}/git/config\""
alias hammerspoonconfig="chezmoi edit \"${XDG_CONFIG_HOME}/hammerspoon/init.lua\""
alias helixconfig="chezmoi edit \"${XDG_CONFIG_HOME}/helix/config.toml\""
alias hxconfig="helixconfig"
alias keyconfig="chezmoi edit \"${XDG_CONFIG_HOME}/zsh/key-bindings.sh\""
alias knownhostsconfig="chezmoi edit \"${HOME}/.ssh/known_hosts\""
alias nixconfig="chezmoi edit \"${XDG_CONFIG_HOME}/nix\""
alias nvimconfig="chezmoi edit \"${XDG_CONFIG_HOME}/nvim/lua\""
alias rfappsconfig="chezmoi edit \"${XDG_CONFIG_HOME}/env/rfapps.sh\""
alias sshconfig="chezmoi edit \"${HOME}/.ssh/config\""
alias starshipconfig="chezmoi edit \"${XDG_CONFIG_HOME}/starship/starship.toml\""
alias weztermconfig="chezmoi edit \"${XDG_CONFIG_HOME}/wezterm/wezterm.lua\""
alias yaziconfig="chezmoi edit \"${XDG_CONFIG_HOME}/yazi/yazi.toml\""
alias zedconfig="chezmoi edit \"${XDG_CONFIG_HOME}/zed/settings.json\""
alias zshconfig="chezmoi edit \"${XDG_CONFIG_HOME}/zsh/.zshrc\""

# Nix-related aliases
alias nixall="nixup && nixbl && nixgc"
alias nixbl="cd \"${XDG_CONFIG_HOME}/nix\" && sudo darwin-rebuild switch --flake .#hugo && source \"${HOME}/.zshenv\" && source \"${XDG_CONFIG_HOME}/zsh/.zshrc\" && cd - || cd"
alias nixgc="nix-collect-garbage -d && sudo nix-collect-garbage -d"
alias nixup="cd \"${XDG_CONFIG_HOME}/nix\" && nix flake update && cd - || cd"
