# Homebrew hash: {{ include ".chezmoidata/homebrew.jsonc" | sha256sum }}
# MAS Apps hash: {{ include ".chezmoidata/mas.jsonc" | sha256sum }}

{{- range .homebrew.taps }}
tap {{ . | quote }}
{{- end }}

{{- range .homebrew.formulae }}
brew {{ .name | quote }}{{if hasKey . "os" }} if OS.{{- .os -}}?{{ end }}{{ if and (hasKey . "restart_service") (not (hasPrefix (env "HOME") "/Volumes/")) }}, restart_service: :changed{{ end }}{{ if hasKey . "head" }}, args: ["HEAD"]{{ end }}
{{- end }}

{{- range .homebrew.casks }}
cask {{ .name | quote }}{{if hasKey . "os" }} if OS.{{- .os -}}?{{ end }}{{ if hasKey . "head" }}, args: ["HEAD"]{{ end }}
{{- end }}

{{- range .mas.apps }}
mas {{ .name | quote }}, id: {{ .id }}
{{- end }}
