{
  "permission": {
    "enabled": false,
    "date": "2022-07-03T14:00:00.000Z"
  },
  "c3permission": {
    "enabled": true,
    "date": "2024-10-06T01:43:55.884Z"
  },
  "deviceId": "{{ onepasswordRead 'op://Personal/Cloudflare Wrangler Metrics/Section_ofwf56qq2t7mbxtblih4cf6yzm/deviceId' }}"
}
