{
  "permission": {
  "enabled": false,
  "date": "2022-07-03T14:00:00.000Z"
  },
  "c3permission": {
  "enabled": true,
  "date": "2024-10-06T01:43:55.884Z"
  },
  "deviceId": "{{ onepasswordRead "op://Chezmoi/Cloudflare Wrangler/metrics.json-deviceID" }}"
}
