[user]
name = {{ .user.name }}
email = {{ .user.email }}
{{- if .user.githubUsername }}
username = {{ .user.githubUsername }}
{{- end }}
signingkey = {{ onepasswordRead "op://tsdevau/ocxipduumpxlza7jozld45zmsu/signing-key" }}

[core]
pager = bat
editor = {{ .editors.gui }} --wait
excludesfile = {{ .chezmoi.homeDir -}}/.config/git/gitignore_global

[init]
defaultBranch = main

[pull]
rebase = false

[push]
default = simple
autoSetupRemote = true

[merge]
conflictstyle = diff3

[diff]
tool = vscode

[difftool "vscode"]
cmd = {{ .editors.gui }} --wait --diff $LOCAL $REMOTE

[alias]
st = status
co = checkout
br = branch
ct = commit
cta = commit -a
ctm = commit -m
ctam = commit -am
df = diff
lg = log --oneline --graph --decorate --all
unstage = reset HEAD --
last = log -1 HEAD
visual = !gitk
amend = commit --amend
undo = reset --soft HEAD~1
cleanup = "!git fetch --prune && git for-each-ref --format='%(refname:short) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"


[attributes]
# Set default attributes for files

[color]
ui = auto
branch = auto
diff = auto
status = auto

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
meta = yellow bold
frag = magenta bold
old = red bold
new = green bold

[color "status"]
added = yellow
changed = green
untracked = cyan

[credential]
{{- if eq .chezmoi.os "darwin" }}
helper = osxkeychain
{{- end }}

[filter "lfs"]
clean = git-lfs clean -- %f
smudge = git-lfs smudge -- %f
process = git-lfs filter-process
required = true
