[user]
name = {{ .user.name }}
email = {{ .user.email }}
{{- if .user.githubUsername }}
username = {{ .user.githubUsername }}
{{- end }}
signingkey = {{ onepasswordRead "op://tsdevau/ocxipduumpxlza7jozld45zmsu/signing-key" }}

[core]
editor = {{ .editors.gui }} --wait
excludesfile = {{ .chezmoi.homeDir -}}/.config/git/gitignore_global
fileMode = false
pager = bat

[init]
defaultBranch = main

[pull]
rebase = false

[push]
autoSetupRemote = true
default = simple

[merge]
conflictstyle = diff3

[diff]
tool = vscode

[difftool "vscode"]
cmd = {{ .editors.gui }} --wait --diff $LOCAL $REMOTE

[alias]
amend = commit --amend
br = branch
cleanup = "!git fetch --prune && git for-each-ref --format='%(refname:short) %(upstream:track)' refs/heads | awk '$2 == \"[gone]\" {print $1}' | xargs -r git branch -D"
co = checkout
ct = commit
cta = commit -a
ctam = commit -am
ctm = commit -m
df = diff
last = log -1 HEAD
lg = log --oneline --graph --decorate --all
st = status
undo = reset --soft HEAD~1
unstage = reset HEAD --
visual = !gitk


[attributes]
# Set default attributes for files

[color]
branch = auto
diff = auto
status = auto
ui = auto

[color "branch"]
current = yellow reverse
local = yellow
remote = green

[color "diff"]
frag = magenta bold
meta = yellow bold
new = green bold
old = red bold

[color "status"]
added = yellow
changed = green
untracked = cyan

[credential]
{{- if eq .chezmoi.os "darwin" }}
helper = osxkeychain
{{- end }}

[filter "lfs"]
clean = git-lfs clean -- %f
process = git-lfs filter-process
required = true
smudge = git-lfs smudge -- %f
