<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>Pittsworth</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>aws-0-ap-southeast-2.pooler.supabase.com</string>
		<key>DatabaseName</key>
		<string>postgres</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string></string>
		<key>DatabasePort</key>
		<string>6543</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string>postgres.tmurrstuvzqcjrzonqer</string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>PostgreSQL</string>
		<key>DriverVersion</key>
		<integer>0</integer>
		<key>Enviroment</key>
		<string>staging</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<false/>
		<key>ID</key>
		<string>B6137FDC-FCB1-40E4-8671-1707E5DEAE88</string>
		<key>ItemGroups</key>
		<array/>
		<key>LazyLoadSchemaItems</key>
		<false/>
		<key>LimitQueryRowsReturned</key>
		<integer>0</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>RecentUsedBackupDriverName</key>
		<string>PostgreSQL 15.1</string>
		<key>RecentUsedBackupGzip</key>
		<false/>
		<key>RecentUsedBackupOptions</key>
		<array>
			<string>--create</string>
		</array>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array>
			<string>postgres.public.Customer</string>
			<string>postgres.public.Department</string>
			<string>postgres.public.Drawer</string>
			<string>postgres.public.Charge</string>
			<string>postgres.public.EftposRefund</string>
		</array>
		<key>RecentlySchema</key>
		<array>
			<string>postgres.public</string>
		</array>
		<key>SectionStates</key>
		<dict>
			<key>postgres.Functions</key>
			<string>expanded</string>
			<key>postgres.Tables</key>
			<string>expanded</string>
		</dict>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerNameIndication</key>
		<string></string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import a private key...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<false/>
		<key>ShowSequenceSection</key>
		<false/>
		<key>ShowSystemSchemas</key>
		<false/>
		<key>ShowUserDefineSection</key>
		<false/>
		<key>StartupBashScript</key>
		<string></string>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string>Key...,Cert...,CA Cert...</string>
		<key>TlsKeyPaths</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>isOverSSH</key>
		<false/>
		<key>isUsePrivateKey</key>
		<false/>
		<key>isUseSocket</key>
		<false/>
		<key>statusColor</key>
		<string>#005392</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>Westbrook</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>aws-0-ap-southeast-2.pooler.supabase.com</string>
		<key>DatabaseName</key>
		<string>postgres</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string></string>
		<key>DatabasePort</key>
		<string>6543</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string>postgres.utvlscnjjkwjwhgonwes</string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>PostgreSQL</string>
		<key>DriverVersion</key>
		<integer>0</integer>
		<key>Enviroment</key>
		<string>staging</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<false/>
		<key>ID</key>
		<string>14AACD56-4A01-4B19-802F-17B643AA5CFB</string>
		<key>ItemGroups</key>
		<array/>
		<key>LazyLoadSchemaItems</key>
		<false/>
		<key>LimitQueryRowsReturned</key>
		<integer>0</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>RecentUsedBackupDriverName</key>
		<string></string>
		<key>RecentUsedBackupGzip</key>
		<false/>
		<key>RecentUsedBackupOptions</key>
		<array/>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array>
			<string>postgres.public.Cheque</string>
			<string>postgres.public.SystemSettings</string>
			<string>postgres.public.Customer</string>
			<string>postgres.public.ImportedTillTotal</string>
			<string>postgres.public.EftposGiftCard</string>
		</array>
		<key>RecentlySchema</key>
		<array>
			<string>postgres.public</string>
		</array>
		<key>SectionStates</key>
		<dict>
			<key>postgres.Functions</key>
			<string>expanded</string>
			<key>postgres.Tables</key>
			<string>expanded</string>
		</dict>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerNameIndication</key>
		<string></string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import a private key...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<false/>
		<key>ShowSequenceSection</key>
		<false/>
		<key>ShowSystemSchemas</key>
		<false/>
		<key>ShowUserDefineSection</key>
		<false/>
		<key>StartupBashScript</key>
		<string></string>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string>Key...,Cert...,CA Cert...</string>
		<key>TlsKeyPaths</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>isOverSSH</key>
		<false/>
		<key>isUsePrivateKey</key>
		<false/>
		<key>isUseSocket</key>
		<false/>
		<key>statusColor</key>
		<string>#AA7941</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>RF Client DB</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>192.168.79.202</string>
		<key>DatabaseName</key>
		<string>rfclients</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string></string>
		<key>DatabasePort</key>
		<string>5432</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string>postgres</string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>PostgreSQL</string>
		<key>DriverVersion</key>
		<integer>0</integer>
		<key>Enviroment</key>
		<string>production</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<false/>
		<key>ID</key>
		<string>B1C0D58B-6239-49D2-BCB8-08084AECF88D</string>
		<key>ItemGroups</key>
		<array/>
		<key>LazyLoadSchemaItems</key>
		<false/>
		<key>LimitQueryRowsReturned</key>
		<integer>0</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>RecentUsedBackupDriverName</key>
		<string></string>
		<key>RecentUsedBackupGzip</key>
		<false/>
		<key>RecentUsedBackupOptions</key>
		<array/>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array>
			<string>rfclients.public.clients</string>
			<string>rfclients.public.xero_token_set</string>
			<string>rfclients.public.store_ids</string>
			<string>rfclients.public.user_preferences</string>
			<string>rfclients.public.lotto_logs</string>
		</array>
		<key>RecentlySchema</key>
		<array>
			<string>rfclients.public</string>
		</array>
		<key>SectionStates</key>
		<dict>
			<key>rfclients.Functions</key>
			<string>collapsed</string>
			<key>rfclients.Tables</key>
			<string>expanded</string>
		</dict>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerNameIndication</key>
		<string></string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import a private key...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<false/>
		<key>ShowSequenceSection</key>
		<false/>
		<key>ShowSystemSchemas</key>
		<false/>
		<key>ShowUserDefineSection</key>
		<false/>
		<key>StartupBashScript</key>
		<string></string>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string>Key...,Cert...,CA Cert...</string>
		<key>TlsKeyPaths</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>isOverSSH</key>
		<false/>
		<key>isUsePrivateKey</key>
		<false/>
		<key>isUseSocket</key>
		<false/>
		<key>statusColor</key>
		<string>#007F3D</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>C Sharp Course</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>192.168.79.210</string>
		<key>DatabaseName</key>
		<string>DotNetCourseDatabase</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string></string>
		<key>DatabasePort</key>
		<string>1433</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string>sa</string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>MicrosoftSQLServer</string>
		<key>DriverVersion</key>
		<integer>8</integer>
		<key>Enviroment</key>
		<string>docker</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<false/>
		<key>ID</key>
		<string>44F0AB33-4950-47A9-941B-CC2F465A4602</string>
		<key>ItemGroups</key>
		<array/>
		<key>LazyLoadSchemaItems</key>
		<false/>
		<key>LimitQueryRowsReturned</key>
		<integer>0</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>RecentUsedBackupDriverName</key>
		<string></string>
		<key>RecentUsedBackupGzip</key>
		<false/>
		<key>RecentUsedBackupOptions</key>
		<array/>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array>
			<string>DotNetCourseDatabase.TutorialAppSchema.UserSalary</string>
			<string>DotNetCourseDatabase.TutorialAppSchema.Users</string>
			<string>DotNetCourseDatabase.TutorialAppSchema.UserJobInfo</string>
			<string>DotNetCourseDatabase.TutorialAppSchema.Computer</string>
		</array>
		<key>RecentlySchema</key>
		<array>
			<string>DotNetCourseDatabase.TutorialAppSchema</string>
		</array>
		<key>SectionStates</key>
		<dict>
			<key>DotNetCourseDatabase.Functions</key>
			<string>expanded</string>
			<key>DotNetCourseDatabase.Tables</key>
			<string>expanded</string>
		</dict>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerNameIndication</key>
		<string></string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import a private key...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<false/>
		<key>ShowSequenceSection</key>
		<false/>
		<key>ShowSystemSchemas</key>
		<true/>
		<key>ShowUserDefineSection</key>
		<false/>
		<key>StartupBashScript</key>
		<string></string>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string></string>
		<key>TlsKeyPaths</key>
		<array/>
		<key>isOverSSH</key>
		<false/>
		<key>isUsePrivateKey</key>
		<false/>
		<key>isUseSocket</key>
		<false/>
		<key>statusColor</key>
		<string>#686B6F</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>Weather</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>192.168.79.202</string>
		<key>DatabaseName</key>
		<string>weather</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string></string>
		<key>DatabasePort</key>
		<string>5432</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string>weather</string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>PostgreSQL</string>
		<key>DriverVersion</key>
		<integer>0</integer>
		<key>Enviroment</key>
		<string>local</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<false/>
		<key>ID</key>
		<string>03403544-BC1C-429B-8042-CDF0814B151A</string>
		<key>ItemGroups</key>
		<array/>
		<key>LazyLoadSchemaItems</key>
		<false/>
		<key>LimitQueryRowsReturned</key>
		<integer>0</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>RecentUsedBackupDriverName</key>
		<string></string>
		<key>RecentUsedBackupGzip</key>
		<false/>
		<key>RecentUsedBackupOptions</key>
		<array/>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array/>
		<key>RecentlySchema</key>
		<array>
			<string>weather.public</string>
		</array>
		<key>SectionStates</key>
		<dict>
			<key>weather.Functions</key>
			<string>expanded</string>
			<key>weather.Tables</key>
			<string>expanded</string>
		</dict>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerNameIndication</key>
		<string></string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import a private key...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<false/>
		<key>ShowSequenceSection</key>
		<false/>
		<key>ShowSystemSchemas</key>
		<false/>
		<key>ShowUserDefineSection</key>
		<false/>
		<key>StartupBashScript</key>
		<string></string>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string>Key...,Cert...,CA Cert...</string>
		<key>TlsKeyPaths</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>isOverSSH</key>
		<false/>
		<key>isUsePrivateKey</key>
		<false/>
		<key>isUseSocket</key>
		<false/>
		<key>statusColor</key>
		<string>#473A6E</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
	<dict>
		<key>Authenticator</key>
		<string></string>
		<key>ConnectionName</key>
		<string>Guacamole</string>
		<key>DatabaseEncoding</key>
		<string></string>
		<key>DatabaseHost</key>
		<string>192.168.79.205</string>
		<key>DatabaseName</key>
		<string>guacamole_db</string>
		<key>DatabasePasswordMode</key>
		<integer>0</integer>
		<key>DatabasePath</key>
		<string></string>
		<key>DatabasePort</key>
		<string>5432</string>
		<key>DatabaseSocket</key>
		<string></string>
		<key>DatabaseType</key>
		<string></string>
		<key>DatabaseUser</key>
		<string>guac</string>
		<key>DatabaseUserRole</key>
		<string></string>
		<key>DatabaseWarehouse</key>
		<string></string>
		<key>Driver</key>
		<string>PostgreSQL</string>
		<key>DriverVersion</key>
		<integer>0</integer>
		<key>Enviroment</key>
		<string>local</string>
		<key>Favorites</key>
		<dict/>
		<key>GroupID</key>
		<string></string>
		<key>HideFunctionSection</key>
		<false/>
		<key>ID</key>
		<string>9038AD6D-DE9E-43E5-93C0-74A7EF016690</string>
		<key>ItemGroups</key>
		<array/>
		<key>LazyLoadSchemaItems</key>
		<false/>
		<key>LimitQueryRowsReturned</key>
		<integer>0</integer>
		<key>LimitRowsReturned</key>
		<integer>0</integer>
		<key>OtherOptions</key>
		<array/>
		<key>RecentUsedBackupDriverName</key>
		<string></string>
		<key>RecentUsedBackupGzip</key>
		<false/>
		<key>RecentUsedBackupOptions</key>
		<array/>
		<key>RecentUsedRestoreOptions</key>
		<array/>
		<key>RecentlyOpened</key>
		<array/>
		<key>RecentlySchema</key>
		<array>
			<string>guacamole_db.public</string>
		</array>
		<key>SectionStates</key>
		<dict>
			<key>guacamole_db.Functions</key>
			<string>expanded</string>
			<key>guacamole_db.Tables</key>
			<string>expanded</string>
		</dict>
		<key>ServerAddress</key>
		<string>127.0.0.1</string>
		<key>ServerNameIndication</key>
		<string></string>
		<key>ServerPasswordMode</key>
		<integer>0</integer>
		<key>ServerPort</key>
		<string>22</string>
		<key>ServerPrivateKeyName</key>
		<string>Import a private key...</string>
		<key>ServerUser</key>
		<string></string>
		<key>ShowRecentlySection</key>
		<false/>
		<key>ShowSequenceSection</key>
		<false/>
		<key>ShowSystemSchemas</key>
		<false/>
		<key>ShowUserDefineSection</key>
		<false/>
		<key>StartupBashScript</key>
		<string></string>
		<key>StartupCommands</key>
		<string></string>
		<key>TlsKeyName</key>
		<string>Key...,Cert...,CA Cert...</string>
		<key>TlsKeyPaths</key>
		<array>
			<string></string>
			<string></string>
			<string></string>
		</array>
		<key>isOverSSH</key>
		<false/>
		<key>isUsePrivateKey</key>
		<false/>
		<key>isUseSocket</key>
		<false/>
		<key>statusColor</key>
		<string>#007F3D</string>
		<key>tLSMode</key>
		<integer>0</integer>
	</dict>
</array>
</plist>
