oauth_token = '{{ onepasswordRead "op://Chezmoi/Cloudflare Wrangler/oauth_token" }}'
expiration_time = "2025-04-03T08:16:47.835Z"
refresh_token = '{{ onepasswordRead "op://Chezmoi/Cloudflare Wrangler/refresh_token" }}'
scopes = [
"account:read",
"user:read",
"workers:write",
"workers_kv:write",
"workers_routes:write",
"workers_scripts:write",
"workers_tail:read",
"d1:write",
"pages:write",
"zone:read",
"ssl_certs:write",
"ai:write",
"queues:write",
"pipelines:write",
"offline_access",
]
