{{- range .homebrew.taps }}
tap "{{ . }}"
{{- end }}

{{- range .homebrew.formulae }}
brew "{{ .name }}"{{ if hasKey . "head" }}, args: ["HEAD"]{{ end }}
{{- end }}

{{- range .homebrew.casks }}
cask "{{ .name }}"{{ if hasKey . "head" }}, args: ["HEAD"]{{ end }}
{{- end }}

{{- range $name, $id := .masApps }}
mas "{{ $name }}", id: {{ $id }}
{{- end }}
